<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.saboten.androidUiSamples">

    <application>
        <activity android:name=".UiSamplesActivity" android:exported="true"
                  android:theme="@style/Theme.SabotenAndroidUiSamples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>